checkpoints/
datasets/
expt_logs/
wandb/
objectnet-1.0/
__pycache__/
cache/
cache_rata/
scripts/
.vscode

**.pyc
*/__pycache__/* 
plots/
**.png
asset/


*.pt
cache_RN50x4/
cache_ViTL14/
cache_RN50/

*.ipynb
*.npy
*.gif
ffig.pdf